<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>维修点管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>

</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">区域管理</a>
            <a>
                <cite>维修点管理</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div class="layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="areaname" name="areaname" placeholder="请输入维修点名称" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button type="button" class="layui-btn" id="reloadbtn"><i class="layui-icon">&#xe615;</i>搜索</button>
                            </div>
                        </div>
                        <table class="layui-table" id="tablelist" lay-filter="tablelist"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insertEvent">
                <i class="layui-icon">&#xe608;</i>添加
            </button>
        </div>
    </script>

    <script type="text/html" id="opbar">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>

    <script type="text/javascript">
        $(function () {
            var userTable;

            //表格数据初始化参数
            var options = {
                elem: '#tablelist'
                , method: 'post'
                , toolbar: '#toolbar'
                , height: 'full-170'
                , url: '/AreaManager/GetAreaLists'
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                }
                , limit: 20
                , limits: [20, 40, 60, 80, 100]
                , cols: [[
                    { field: 'id', title: '编号', width: 80 }
                    , { field: 'name', title: '维修站点' }
                    , { fixed: '', title: '操作', toolbar: '#opbar' }
                ]]
            };


            layui.use(['table'], function () {
                //var $ = layui.jquery;
                //alert('jQuery版本：' + $.fn.jquery);
                var table = layui.table;
                userTable = table.render(options);


                //头工具栏事件
                table.on('toolbar(tablelist)', function (obj) {
                    switch (obj.event) {
                        case 'insertEvent':
                            openlayer('添加维修点', '/AreaManager/AddArea', 400, 200);
                            break;
                    };
                });


                //监听行工具事件
                table.on('tool(tablelist)', function (obj) {
                    var data = obj.data;
                    //console.log(obj)
                    if (obj.event === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            $.ajax({
                                type: 'POST',
                                url: '/AreaManager/AreaDelete',
                                data: { id: data.id },
                                datatype: 'json',
                                success: function (data) {
                                    console.info(data);
                                    if (data.type == 200) {
                                        var layindex = layer.alert(data.content, { icon: 6 }, function () {

                                            tableReload();

                                            layer.close(layindex);
                                        });

                                    } else {
                                        layer.alert(data.content, { icon: 5 });
                                    }

                                }
                            });

                        });
                    } else if (obj.event === 'edit') {
                        //编辑
                        console.info(data.id);
                        openlayer('修改维修点名称', '/AreaManager/UpdateArea/?id=' + data.id, 400, 200);

                    }
                });

            });

            //搜索事件
            $('#reloadbtn').on('click', function () {
                tableReload();
            });

            //刷新表格数据
            var tableReload = function () {
                userTable.reload({
                    where: {
                        name: $('#areaname').val().trim()
                    },
                    page: {
                        curr: 1
                    }
                })
            }

            //打开新窗口
            var openlayer = function (title, url, w, h, full) {
                if (title == null || title == '') {
                    var title = false;
                };
                if (url == null || url == '') {
                    var url = "404.html";
                };
                if (w == null || w == '') {
                    var w = ($(window).width() * 0.9);
                };
                if (h == null || h == '') {
                    var h = ($(window).height() - 50);
                };
                var index = layer.open({
                    type: 2,
                    area: [w + 'px', h + 'px'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.4,
                    title: title,
                    content: url,
                    end: function () {
                        tableReload();
                    }
                });
                if (full) {
                    layer.full(index);
                }
            }
        });
    </script>
</body>
</html>
